.page-container {
  margin: 0;
  padding: 0;
  background-image: url('../../../assets/images/home-page-bg.jpg');
  height: 100vh; 
  overflow: hidden;
}

.center-box-with-margin {
  margin-top: 75px;
  position: relative;
}

.page-title {
  text-align: center;
  margin-bottom: 20px;
}

.app-planet-questions,
.app-planet-comments,
.app-planet-hud {
  position: absolute;
  width: 30%;
}

.app-planet-questions {
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
}

.app-planets-hud {
  top: 0;
  left: 0;
  margin-top: 10px;
}

.app-planet-comments {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 10px;
}
