<!-- 
  This HTML file represents the Revision Notes page component.
  It includes the app-planets-questions, app-planets-hud, and app-planet-comments components.
-->

<!DOCTYPE html>
<html lang="en">
<div class="page-container">
  <div class="center-box-with-margin">
    <app-planets-questions class="app-planet-questions"></app-planets-questions>
    <app-planets-hud [planets]="planets" class="app-planet-hud"></app-planets-hud>
    <app-planet-comments class="app-planet-comments"></app-planet-comments>
  </div>
</div>
</html>
